.button{
    border: none;
    width:152px;
    height: 40px;
    cursor: pointer;
    font-size:16px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight:bold;
    background-color: #e7a02e;
    color:#003D5B;
    overflow: hidden;
    margin-bottom: 2px;
    margin-top: 5px;
}

.button:hover{
    background-color: #ED9200;
}  